block config
    include ../config/config

<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=`${currentPage} | ${siteName}`
        link(rel="stylesheet", href="css/main.css")
    body
        block header
            include ../includes/header

        block content

        block footer
            include ../includes/footer
        <script src="https://kit.fontawesome.com/87b8bff04b.js" crossorigin="anonymous"></script>
        script(src="js/scripts.js")

