extends ../template/template
append config
    - var currentPage = 'Inicio';

block content
    main
        div(class="left")
        div(class="right")
            h3(class="lema") Ten una <br> <span>experiencia sensacional</span>
            h1 Eso es vivir!
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe nostrum neque eius odit aspernatur, aut possimus architecto animi vel repellendus eligendi atque nihil, earum ex placeat dolor beatae quia cupiditate!
            p imagen propiedad de: 
                a(href="https://www.instagram.com/p/B9zbbp5BK3t/") la___aura