footer
    div(class="end")
        +social-icon('#', 'fab fa-facebook')
        +social-icon('#', 'fab fa-twitter')
        +social-icon('#', 'fab fa-instagram')
        +social-icon('#', 'fab fa-linkedin')
